<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>canary</title>
    <script src="/static/vue/3.4.31/vue.global.js"></script>
    <script src="/static/axios/1.6.7/axios.min.js"></script>

    <!--  感谢 https://plnkr.co/edit/AA74u8B1DeJ1J6DB?open=lib%2Fscript.js&preview  -->
    <script src="/static/jquery/3.6.0/jquery.min.js"></script>

    <!-- BS5.1.1 CSS/JS -->
    <!-- 升级到5.1   -->
    <!--    <link rel="stylesheet" href="/static/twitter-bootstrap/4.3.1/css/bootstrap.min.css">-->
    <link href="/static/bootstrap/5.1.1/bootstrap.min.css" rel="stylesheet">
    <script src="/static/bootstrap/5.1.1/bootstrap.bundle.min.js"></script>

    <!-- Latest BS-Select compiled and minified CSS/JS -->
    <link rel="stylesheet" href="/static/bootstrap-select/1.14.0-beta2/bootstrap-select.min.css">
    <script src="/static/bootstrap-select/1.14.0-beta2/bootstrap-select.min.js"></script>

    <style>

        .long-text {
            width: 550px; /* 设置容器宽度 */
            white-space: nowrap; /* 不允许换行 */
            overflow: hidden; /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 添加省略号 */
        }

        .account-text {
            width: 220px; /* 设置容器宽度 */
            white-space: nowrap; /* 不允许换行 */
            overflow: hidden; /* 隐藏超出部分 */
            text-overflow: ellipsis; /* 添加省略号 */
        }

        .left-panel {
            width: 50%;
            float: left;
        }

        .right-panel {
            width: 50%;
            float: right;
        }

        .app-padding {
            margin: 30px; /* 设置外边距为30像素，这会分别影响到上、右、下、左四个方向 */
        }

    </style>

</head>
<body>

<div id="app" class="app-padding">
    <div>
        <div class="left-panel">
            <form class="row g-3 needs-validation" novalidate>
                <div class="input-group mb-3" style="margin-right: 10px;">
                    <span class="input-group-text">task id</span>
                    <input type="text" class="form-control" v-model="search_task_id">
                    <span class="input-group-text">start_time</span>
                    <input type="text" class="form-control" placeholder="%Y-%m-%d %H:%M:%S" v-model="search_start_time"
                           required>
                    <span class="input-group-text">end_time</span>
                    <input type="text" class="form-control" placeholder="%Y-%m-%d %H:%M:%S" v-model="search_end_time">

                </div>
                <div class="input-group mb-3">
                    <span class="input-group-text" style="margin-right: 2px">request_user</span>
                    <div>
                        <select class="selectpicker" multiple v-model="search_user">
                            <option v-for="one_user in user" :value="one_user" :key="one_user">
                                {{ one_user }}
                            </option>
                        </select>
                    </div>
                    <span class="input-group-text" style="margin-right: 2px; margin-left: 2px">category</span>
                    <div>
                        <select class="selectpicker" multiple v-model="search_category">
                            <option v-for="one_cate in category" :value="one_cate" :key="one_cate">
                                {{ one_cate }}
                            </option>
                        </select>
                    </div>
                    <div style="width: 50px"></div>
                    <div>
                        <button type="button" class="btn btn-dark" style="width: 150px" @click="query_data">Search
                        </button>
                    </div>

                </div>

                <div class="input-group mb-3">
                    <div style="margin-right: 2px;">
                        <select class="selectpicker" v-model="search_show_status">
                            <option v-for="ss in show_status" :value="ss.value">
                                {{ ss.label }}
                            </option>
                        </select>
                    </div>
                    <span class="input-group-text">shovel_name</span>
                    <input type="text" class="form-control" v-model="search_shovel_name"
                           required>
                    <span class="input-group-text">account_name</span>
                    <input type="text" class="form-control" placeholder="account_name%" v-model="search_account_name">
                </div>


            </form>
        </div>
        <div class="right-panel">
            <div v-if="this.todos.length <= 1">
                <!--            <div style="text-align: center">敬请期待 (oﾟvﾟ)ノ</div>-->
                <div style="text-align: center">1911年，英国的矿工们开始把金丝雀带入矿井。</div>
                <div style="text-align: center">这些小鸟对一氧化碳非常敏感，微量的一氧化碳泄露就会让它们焦躁、啼叫甚至死亡。
                </div>
                <div style="text-align: center">所以，一旦井下的金丝雀表现异样，矿工就得知危险来临，会迅速逃离矿井保命。
                </div>
            </div>
            <div v-else>
                <div style=" float: left">
                    <div style="margin-left: 20px;margin-right: 20px;">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="tgi in todos_group_task_id_info">{{ tgi }}</li>
                        </ul>
                    </div>
                </div>
                <div style="float: left">
                    <div style="margin-left: 20px;margin-right: 20px;">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="tgi in todos_group_account_name_info">{{ tgi }}</li>
                        </ul>
                    </div>
                </div>
                <div style="float: left">
                    <div style="margin-left: 20px;margin-right: 20px;">
                        <ul class="list-group">
                            <li class="list-group-item" v-for="tgi in todos_group_category_info">{{ tgi }}</li>
                        </ul>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <table class="table table-bordered table-striped table-hover">
        <thead>
        <tr>
            <th scope="col"></th>
            <th scope="col">shovel_info</th>
            <th scope="col">shop_info/table_name</th>
            <th scope="col">alert_info</th>
        </tr>
        </thead>
        <tbody>
        <tr v-for="todo in todos" :key="todo.id">
            <td>
                <label style="display: inline-block; width: 100%; cursor: pointer;">
                    <input type="checkbox" v-model="todo.is_ok" @change="change_clipboard">
                </label>
            </td>
            <td>
                <table class="table mb-0 table-sm">
                    <tr>
                        <td>{{ todo.shovel_project }}</td>
                        <td>{{ todo.shovel_name }}</td>
                    </tr>
                    <tr>
                        <td>path_id: {{ todo.path_id }}</td>
                        <td>
                            <div :title="todo.target_page">{{ todo.target_page }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>task_id: {{ todo.task_id }}</td>
                        <td>machine: {{ todo.machine }}</td>
                    </tr>
                    <tr v-if="todo.show_reason">
                        <td colspan="2">处理时间: {{todo.finish_time}}</td>
                    </tr>
                    <tr v-if="todo.show_reason">
                        <td colspan="2">出错原因: {{ todo.finish_reason }}</td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table mb-1 table-sm">
                    <tr>
                        <td>{{ todo.platform_code }}</td>
                        <td>{{ todo.table_names }}</td>
                    </tr>
                    <tr>
                        <td>account_id: {{ todo.account_id }}</td>
                        <td>
                            <div class="account-text" :title="todo.account_name">{{ todo.account_name }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>shop_id: {{ todo.shop_id }}</td>
                        <td>
                            <div class="account-text" :title="todo.shop_name">{{ todo.shop_name }}</div>
                        </td>
                    </tr>
                </table>
            </td>
            <td>
                <table class="table mb-2 table-sm">
                    <tr>
                        <td colspan="2">
                            <div class="long-text" :title="todo.reason">{{ todo.reason }}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>{{ todo.category }}</td>
                        <td>alert_time: {{ todo.alert_time }}</td>
                    </tr>
                    <tr>
                        <td>request_user: {{ todo.request_user }}</td>
                        <td>alert_id: {{ todo.alert_id }}</td>
                    </tr>
                </table>
            </td>
        </tr>
        </tbody>
    </table>

    <div>
        <div class="left-panel">
            <div class="d-flex justify-content-start">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" v-model="all_checked" @click="toggle_all"/>
                    <label class="form-check-label">全选</label>
                </div>
                <div style="width: 50px;"></div>
                <div class="input-group mb-3" style="width: 450px;">
                    <span class="input-group-text">出错原因</span>
                    <input type="text" class="form-control" v-model="finish_reason" @input="change_clipboard"
                           placeholder="包含「数据延迟」,「下线」时, 有惊喜" @blur="copy_to_clipboard">
                </div>
                <div style="width: 50px;"></div>
                <button type="button" class="btn btn-success" style="width: 150px; height: 40px;" @click="finish_data">
                    已批
                </button>
            </div>
        </div>
        <div class="right-panel">
            <div v-if="clipboard_info !== ''">
                <div class="card" style="width: 28rem;">
                    <div class="card-header">
                        点击空白处自动复制, 去发通知吧
                    </div>
                    <div class="card-body">
                        <div v-for="cinfo in clipboard_info_lst"> {{ cinfo }}</div>
                    </div>
                </div>
            </div>
        </div>
    </div>


</div>
<script type="module">
    const {createApp, ref} = Vue
    const loading = '正在加载数据, 请稍候  (￣o￣) . z Z'
    const empty_lst = [
        '活干完了, 休息休息 (～￣▽￣)～', "查询结果为空 (>'-'<)",
        '活干完了, 休息休息 \\(￣︶￣*\\))', "查询结果为空 (/▽＼)",
        '活干完了, 休息休息 ヾ(•ω•`)o', "查询结果为空 ԅ(¯﹃¯ԅ)",
        '活干完了, 休息休息 (｡･∀･)ﾉﾞ', "查询结果为空 ¯\\_(ツ)_/¯",
    ]

    const app = createApp({
        // el: '#app',
        data() {
            return {
                res_todos: [],  // 查询响应数据
                todos: [  // 页面展示数据
                    {id: -1, shovel_project: loading, platform_code: loading, reason: loading},
                ],
                todos_group_account_name_info: [], // 账号分组
                todos_group_task_id_info: [],  // 任务id分组
                todos_group_category_info: [],  // 类别分组
                search_user: [],
                user: [
                    "qhpeng", "zhchen8", "hchen23", "gfzhou",
                    "ytzheng2", "sbzhang1", "yqzhang2", "sxzhang1",
                    "fwang-kf",
                ],
                search_task_id: '',
                search_start_time: '',
                search_end_time: '',
                search_category: [
                    "Cookie Invalidated", "Target Resource Lost", "Shovel Error", "Third Service Error"
                ],
                show_status: [
                    {value: '1', label: 'only ✔'},
                    {value: '0', label: 'all'},
                    {value: '-1', label: 'only 🔲'},
                ],
                search_show_status: '-1',
                search_shovel_name: '',
                search_account_name: '',
                category: [
                    // info
                    "Target Resource Null",

                    // notice
                    "Resource Delay",
                    "SMS Required",

                    // warning
                    "Cookie Invalidated",
                    "Sliding Required",
                    "Target Resource Strange",

                    // Error
                    "BiDp Open Api Unreachable",
                    "Leqee EE Open Api Error",
                    "Shovel Error",
                    "Shovel Not Found",
                    "Elihu Open Api Unreachable",
                    "Mizar Open Api Unreachable",
                    "Third Service Error",
                    "ETL Open Api Unreachable",

                    // Fatal
                    "Account Not Passable",
                    "Account Not Permitted",
                    "Target Resource Lost",

                ],
                all_checked: false,
                finish_show: false,
                finish_reason: '',
                finish_msg: '',

                clipboard_info: '',
                clipboard_info_lst: [],
                clipboard_info_set: new Set(),
            }
        },
        created() {
            const start_time = new Date();
            start_time.setDate(start_time.getDate() - 3);
            this.search_start_time = start_time.toISOString().slice(0, 10) + ' 00:00:00'; // 转换为'YYYY-MM-DD'格式的字符串
        },
        mounted() {
            this.load_user();
            this.load_category();
            this.query_data();
        },
        methods: {
            query_data() {
                axios.post('/api_canary_query', {
                    task_id: this.search_task_id,
                    start_time: this.search_start_time,
                    end_time: this.search_end_time,
                    category: this.search_category,
                    is_ok: this.search_show_status,
                    search_user: this.search_user,
                    search_shovel_name: this.search_shovel_name,
                    search_account_name: this.search_account_name,
                }, {headers: {'Content-Type': 'application/json'}})
                    .then(response => {
                        this.res_todos = response.data;
                        this.transfer_todo();
                        this.save_user();
                        this.save_category();
                    })
                    .catch(error => {
                        console.error('Error fetching todos:', error);
                        alert(error);
                    });
            },
            transfer_todo() {
                this.todos = []
                for (let i = 0; i < this.res_todos.length; i++) {
                    this.todos.push({
                        ...this.res_todos[i],
                        is_ok: Boolean(this.res_todos[i].finish_time),
                        show_reason: Boolean(this.res_todos[i].finish_time),
                    })
                }
                if (this.todos.length === 0) {
                    const randomIndex = Math.floor(Math.random() * empty_lst.length);
                    const empty = empty_lst[randomIndex];
                    this.todos.push({id: -1, shovel_project: empty, platform_code: empty, reason: empty})
                }
                this.res_todos = [];
                // 转化聚合todos
                this.todos_group_account_name_info = [];
                this.todos_group_account_name_info.push("账号分组: ")
                this.todos_group_task_id_info = [];
                this.todos_group_task_id_info.push("task总数量: " + this.todos.length)
                this.todos_group_category_info = [];
                this.todos_group_category_info.push("类别分组: ")

                // 统计 account_name task_id category 每种的数量
                const account_name_cnt = {};
                const task_id_cnt = {};
                const category_cnt = {};
                this.todos.forEach(item => {
                    if (account_name_cnt[item.account_name]) {
                        account_name_cnt[item.account_name]++;
                    } else {
                        account_name_cnt[item.account_name] = 1;
                    }
                    if (task_id_cnt[item.task_id]) {
                        task_id_cnt[item.task_id]++;
                    } else {
                        task_id_cnt[item.task_id] = 1;
                    }
                    if (category_cnt[item.category]) {
                        category_cnt[item.category]++;
                    } else {
                        category_cnt[item.category] = 1;
                    }
                });
                const show_num = 3;
                Object.entries(account_name_cnt).some(([key, value], index) => {
                    if (index < show_num) {
                        this.todos_group_account_name_info.push(String(key) + ": " + String(value))
                    } else {
                        this.todos_group_account_name_info.push("⚠展示不下了 o(TヘTo)")
                        return true;
                    }
                })
                Object.entries(task_id_cnt).some(([key, value], index) => {
                    if (index < show_num) {
                        this.todos_group_task_id_info.push(String(key) + ": " + String(value))
                    } else {
                        this.todos_group_task_id_info.push("⚠展示不下了 ≧ ﹏ ≦")
                        return true;
                    }
                })
                Object.entries(category_cnt).some(([key, value], index) => {
                    if (index < show_num) {
                        this.todos_group_category_info.push(String(key) + ": " + String(value))
                    } else {
                        this.todos_group_category_info.push("⚠展示不下了 /(ㄒoㄒ)/~~")
                        return true;
                    }
                })


            },
            toggle_all() {
                this.all_checked = !this.all_checked;
                this.todos.forEach((todo) => (todo.is_ok = this.all_checked));
                this.change_clipboard();
            },
            finish_data() {
                const send_data = [];
                this.todos.forEach((todo) => {
                    send_data.push({'id': todo.id, 'is_ok': todo.is_ok, 'finish_time': todo.finish_time})
                })
                axios.post('/api_canary_finish', {
                    send_data: send_data,
                    finish_reason: this.finish_reason,
                }, {headers: {'Content-Type': 'application/json'}})
                    .then(response => {
                        this.query_data();
                        this.all_checked = false;
                        this.finish_reason = '';
                        this.change_clipboard();
                    })
                    .catch(error => {
                        console.error('Error fetching todos:', error);
                        alert(error);
                    });
            },
            change_clipboard() {
                if (this.finish_reason.includes("数据延迟") || this.finish_reason.includes("下线")) {
                    this.clipboard_info = '';
                    this.clipboard_info_lst = [];
                    this.clipboard_info_set = new Set();
                    this.todos.forEach((todo) => {
                        if ((todo.finish_time === null || todo.finish_time === 'null') && todo.is_ok === true) {
                            const tn = "表名: " + todo.table_names;
                            const pi = "path id: " + todo.path_id;
                            const tn_pi = tn + pi
                            if (!this.clipboard_info_set.has(tn_pi)) {
                                this.clipboard_info += "\n" + tn;
                                this.clipboard_info_lst.push(tn);
                                this.clipboard_info += "\n" + pi;
                                this.clipboard_info_lst.push(pi);
                                this.clipboard_info += "\n";
                                this.clipboard_info_lst.push("----------------");
                                this.clipboard_info_set.add(tn_pi)
                            }
                        }
                    })
                    if (this.clipboard_info === "") {
                        // this.clipboard_info = "请勾选报警信息";
                        // this.clipboard_info_lst = ["请勾选报警信息"];
                        return
                    }

                    const rs = "原因: " + this.finish_reason;
                    this.clipboard_info += "\n" + rs;
                    this.clipboard_info_lst.push(rs);

                    const tl = "【数据延迟通知】";
                    this.clipboard_info = tl + this.clipboard_info;
                    this.clipboard_info_lst.unshift(tl);

                } else {
                    this.clipboard_info = '';
                }
            },
            copy_to_clipboard() {
                if (this.clipboard_info !== '' || this.clipboard_info !== '请勾选报警信息') {
                    navigator.clipboard.writeText(this.clipboard_info).then(() => {
                        console.log('文本已复制到剪贴板');
                    }, (err) => {
                        console.error('复制失败:', err);
                    });
                }

            },
            save_user() {
                localStorage.setItem('local_user', JSON.stringify(this.search_user))
            },
            load_user() {
                let local_user = localStorage.getItem("local_user")
                if (local_user === null) {
                    this.search_user = []
                } else {
                    this.search_user = JSON.parse(local_user)
                }
            },
            save_category() {
                localStorage.setItem('local_category', JSON.stringify(this.search_category))
            },
            load_category() {
                let local_user = localStorage.getItem("local_category")
                if (local_user === null) {
                    this.search_category = []
                } else {
                    this.search_category = JSON.parse(local_user)
                }
            },
        }
    });
    app.mount('#app')
</script>
</body>
</html>