<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>magnifier</title>
    <!-- 引入Bootstrap CSS -->
    <link rel="stylesheet" href="/static/twitter-bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>

<div class="container mt-5">
    <!-- 页面标题 -->
    <h1 class="text-center mb-4">导航</h1>

    <!-- 按钮组 -->
    <div class="text-center">
        <a href="/bar_test" class="btn btn-primary">测试</a>
        <a href="/login_status" class="btn btn-secondary">登录状态</a>
        <a href="/sche" class="btn btn-success">运行情况</a>
        <a href="/canary" class="btn btn-info">金丝雀</a>
<!--        <a href="/bar_test" class="btn btn-warning">页面5</a>-->
<!--        <a href="/bar_test" class="btn btn-danger">页面6</a>-->
    </div>
</div>

<!-- 引入Bootstrap JS 和 Popper.js -->
<script src="/static/popper/1.15.0/umd/popper.min.js"></script>
<script src="/static/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
