<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>滑块</title>
    <script src="/static/jquery/3.0.0/jquery.min.js"></script>
    <script type="text/javascript" src="/static/echarts.min.js"></script>
    <style>
        body, html {
            margin: 0;
            padding: 0;
            height: 100%;
        }

        .grid-container {
            display: grid;
            grid-template-columns: 1fr 1fr; /* 将容器分成两列 */
            /*grid-template-rows: 1fr 1fr; !* 将容器分成两行 *!*/
            height: 50%; /* 网格占满整个父容器的高度 */
            width: 100%; /* 网格占满整个父容器的宽度 */
        }

        .grid-item {
            display: flex;
            justify-content: center; /* 水平居中内容 */
            align-items: center; /* 垂直居中内容 */
            /*border: 1px solid #000; !* 边框 *!*/
        }
    </style>
</head>
<body>
<div class="grid-container">
    <div id="slide1" class="grid-item">1</div>
    <div id="bidp2" class="grid-item">2</div>
</div>
<div id="login_status3" style="height: 48%; width: 98%;">3</div>

<script>
    var chart1 = echarts.init(document.getElementById('slide1'), 'white', {renderer: 'canvas'});
    var chart2 = echarts.init(document.getElementById('bidp2'), 'white', {renderer: 'canvas'});
    var last_bidp_time = '';
    var bidp_old_data = [];
    var bidp_len = 0;
    var chart3 = echarts.init(document.getElementById('login_status3'), 'white', {renderer: 'canvas'});
    $(
        function () {
            fetchData();
            fetchDataBidpAll();
            fetchDataLoginStatus();
            setInterval(fetchData, 1000 * 60 * 2);  // 2分钟刷新
            setInterval(fetchDataBidpUpdate, 1000 * 2);
            setInterval(fetchDataLoginStatus, 1000 * 2.8);
        }
    );

    function fetchData() {
        $.ajax({
            type: "GET",
            url: "/slide_cnt_data",
            dataType: "json",
            success: function (result) {
                chart1.setOption(JSON.parse(result));
            }
        });
    };

    function fetchDataBidpAll() {
        $.ajax({
            type: "GET",
            url: "/bidp_heart_data",
            dataType: "json",
            success: function (result) {
                chart2.setOption(JSON.parse(result));
                bidp_old_data = chart2.getOption().series[0].data;
                last_bidp_time = bidp_old_data[bidp_old_data.length - 1][0];
                bidp_len = bidp_old_data.length;
            }
        });
    };

    function fetchDataBidpUpdate() {
        $.ajax({
            type: "GET",
            url: "/bidp_heart_data_update",
            dataType: "json",
            data: {last_time: last_bidp_time},
            success: function (result) {
                // console.log(result);
                if (result.length === 0) {
                    return;
                }
                let bidp_new_data = result;

                // bidp_old_data = chart2.getOption().series[0].data;
                // last_bidp_time = bidp_old_data[0][1];
                // 合并两个列表
                let combined = [...bidp_new_data, ...bidp_old_data];

                // 去重，假设第一个元素是唯一标识符
                let uniqueMap = new Map(combined.map(item => [item[0], item]));

                // 将Map对象转换回数组
                let uniqueArray = Array.from(uniqueMap.values());

                // 排序，基于日期时间字符串
                uniqueArray.sort((a, b) => new Date(a[0]) - new Date(b[0]));

                // 保留最后5个元素
                let lastFiveItems = uniqueArray.slice(-bidp_len);

                chart2.setOption({
                    series: [{
                        data: lastFiveItems
                    }]
                });
                bidp_old_data = lastFiveItems;
                last_bidp_time = lastFiveItems[lastFiveItems.length - 1][0];
            }
        });
    };

    function fetchDataLoginStatus() {
        $.ajax({
            type: "GET",
            url: "/login_status_data",
            dataType: "json",
            success: function (result) {
                j_data = JSON.parse(result);
                console.log(j_data);
                console.log(j_data['tooltip']['formatter']);
                eval("j_data['tooltip']['formatter'] = " + j_data['tooltip']['formatter'])
                j_data['series'].forEach(function (item) {
                    if (item.hasOwnProperty('label') && item.label.hasOwnProperty('formatter')) {
                        console.log(item.label.formatter);
                         eval('item.label.formatter=' + item.label.formatter)
                    }
                });
                console.log(j_data);
                chart3.setOption(j_data);
            }
        });
    }


</script>
</body>
</html>